<div class="ttr-sidebar user-sidebar">
    <div class="ttr-sidebar-wrapper content-scroll user-sidebar-content">
        <!-- side menu logo start -->

        <!-- side menu logo end -->
        <!-- sidebar menu start -->

        <div class="card">
            <nav class="ttr-sidebar-navi">

                <a href="#"><img alt="" src="admin/assets/images/favicon.png" width="25" height="25">
                    <span class="ttr-label"><b>Dharmik Valani</b></span>
                </a>


                <ul>
                    <li>
                        <a href="/user/dashboard" class="ttr-material-button">
                            <span class="ttr-icon"><i class="ti-home"></i></span>
                            <span class="ttr-label">Dashborad</span>
                        </a>
                    </li>
                    <li>
                        <a href="/user/live-class" class="ttr-material-button">
                            <span class="ttr-icon"><i class="fa fa-podcast" ></i></span>
                            <span class="ttr-label">Live Class</span>
                        </a>
                    </li>
                    <li>
                        <a href="/user/courses" class="ttr-material-button">
                            <span class="ttr-icon"><i class="ti-book"></i></span>
                            <span class="ttr-label">My Courses</span>
                        </a>
                    </li>
                    <!-- <li>
                        <a href="/user/messages" class="ttr-material-button">
                            <span class="ttr-icon"><i class="ti-comments"></i></span>
                            <span class="ttr-label">Messages</span>
                        </a>
                    </li> -->
                    <li>
                        <a href="/user/wishlist" class="ttr-material-button">
                            <span class="ttr-icon"><i class="ti-bookmark-alt"></i></span>
                            <span class="ttr-label">WishList</span>
                        </a>
                    </li>

                    <li>
                        <a href="/user/purchase-history" class="ttr-material-button">
                            <span class="ttr-icon"><i class="ti-view-list"></i></span>
                            <span class="ttr-label">Purchase History</span>
                        </a>
                    </li>
                    <li>
                        <a href="/user/profile" class="ttr-material-button">
                            <span class="ttr-icon"><i class="ti-user"></i></span>
                            <span class="ttr-label">My Profile</span>
                        </a>
                    </li>
                    <li class="ttr-seperate"></li>
                </ul>
                <!-- sidebar menu end -->
            </nav>
        </div>


        <!-- sidebar menu end -->
    </div>
</div>