
                <!-- Content -->
                <div class="page-content bg-white">
                    <!-- inner page banner -->
                    <div class="page-banner ovbl-dark" style="background-image:url(assets/images/banner/tnqbanner.jpg);">
                        <div class="container">
                            <div class="page-banner-entry">
                                <h1 class="text-white">Frequently Asked Questions</h1>
                            </div>
                        </div>
                    </div>
                    <!-- Breadcrumb row -->
                    <div class="breadcrumb-row">
                        <div class="container">
                            <ul class="list-inline">
                                <li><a href="#">Home</a></li>
                                <li>Faqs</li>
                            </ul>
                        </div>
                    </div>
                    <!-- Breadcrumb row END -->
                    <!-- contact area -->
                    <div class="content-block">
                        <!-- Your Faq -->

                        <!-- Our Services -->
                        <div class="section-area section-sp1">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-8 col-md-12">
                                        <div class="heading-bx left">
                                            <h2 class="m-b10 title-head">Asked <span> Questions</span></h2>
                                        </div>
                                        <p class="m-b10">The process of getting listed on studeebee is extremely simple, quick and hustles free. You need to provide demo to our experts and after that you have to send all the documents. The entire process is completed
                                            in 4 to 5 days.
                                        </p>
                                        <div class="ttr-accordion m-b30 faq-bx" id="accordion1">
                                            <div class="panel">
                                                <div class="acod-head">
                                                    <h6 class="acod-title">
                                                        <a data-toggle="collapse" href="#faq1" class="collapsed" data-parent="#faq1">
													1. How long does it take to get listed on Studeebee?</a> </h6>
                                                </div>
                                                <div id="faq1" class="acod-body collapse">
                                                    <div class="acod-content">The process of getting listed on studeebee is extremely simple, quick and hustles free. You need to provide demo to our experts and after that you have to send all the documents. The entire process is
                                                        completed in 4 to 5 days.</div>
                                                </div>
                                            </div>
                                            <div class="panel">
                                                <div class="acod-head">
                                                    <h6 class="acod-title">
                                                        <a data-toggle="collapse" href="#faq2" class="collapsed" data-parent="#faq2">
													2. How much does an average teacher earn on Studeebee?</a> </h6>
                                                </div>
                                                <div id="faq2" class="acod-body collapse">
                                                    <div class="acod-content">On an average teacher earn more than 20,000 to 30,000 per month if they gives us their 2 to 3 hours daily.</div>
                                                </div>
                                            </div>
                                            <div class="panel">
                                                <div class="acod-head">
                                                    <h6 class="acod-title">
                                                        <a data-toggle="collapse" href="#faq3" class="collapsed" data-parent="#faq3">
													3. What tools I need to teach on Studeebee? </a> </h6>
                                                </div>
                                                <div id="faq3" class="acod-body collapse">
                                                    <div class="acod-content">You need a computer/laptop/tablet, a digital graphic pen (we suggest wacom CTL 471) for smooth writing on our white board and a web camera.</div>
                                                </div>
                                            </div>
                                            <div class="panel">
                                                <div class="acod-head">
                                                    <h6 class="acod-title">
                                                        <a data-toggle="collapse" href="#faq4" class="collapsed" data-parent="#faq4">
													4. What is the frequency of payouts for teachers?</a> </h6>
                                                </div>
                                                <div id="faq4" class="acod-body collapse">
                                                    <div class="acod-content">Teachers will receive payout on monthly basis between 1st to 7th dates of the month.</div>
                                                </div>
                                            </div>
                                            <div class="panel">
                                                <div class="acod-head">
                                                    <h6 class="acod-title">
                                                        <a data-toggle="collapse" href="#faq5" class="collapsed" data-parent="#faq5">
													5. Do I need to pay anything to enroll as a teacher? </a> </h6>
                                                </div>
                                                <div id="faq5" class="acod-body collapse">
                                                    <div class="acod-content">No, there is no registration fee to be paid to Studeebee.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel">
                                                <div class="acod-head">
                                                    <h6 class="acod-title">
                                                        <a data-toggle="collapse" href="#faq6" class="collapsed" data-parent="#faq6">
													6. Do I need to sign any contract or bond with Studeebee?</a> </h6>
                                                </div>
                                                <div id="faq6" class="acod-body collapse">
                                                    <div class="acod-content">No, Studeebee is highly flexible platform. You can teach at your convenient time, and hence you don’t need to sign any bond or contract with Studeebee.</div>
                                                </div>
                                            </div>
                                            <div class="panel">
                                                <div class="acod-head">
                                                    <h6 class="acod-title">
                                                        <a data-toggle="collapse" href="#faq7" class="collapsed" data-parent="#faq7">
													7. What are my responsibilities at Studeebee as a teacher? </a>
                                                    </h6>
                                                </div>
                                                <div id="faq7" class="acod-body collapse">
                                                    <div class="acod-content">Studeebee expect all our teachers to act as a helping hand to provide learning solution to our students, the teacher understands the learning requirement of the student, create the learning plan, prepare
                                                        the relevant content (NOTES) required for the session, share tests and assignment, evaluate them and provide regular feedback. Teacher will be connected to students on a wass app group.</div>
                                                </div>
                                            </div>
                                            <div class="panel">
                                                <div class="acod-head">
                                                    <h6 class="acod-title">
                                                        <a data-toggle="collapse" href="#faq8" class="collapsed" data-parent="#faq8">
													8. What subjects are offered at Studeebee?</a> </h6>
                                                </div>
                                                <div id="faq8" class="acod-body collapse">
                                                    <div class="acod-content">General subjects from class 5th to 12th science also for competitive exams like IIT-JEE(main/adv), NEET, BIT-SAT etc.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel">
                                                <div class="acod-head">
                                                    <h6 class="acod-title">
                                                        <a data-toggle="collapse" href="#faq9" class="collapsed" data-parent="#faq9">
													9. What are the basic requisites to contact online tutoring session?
												</a> </h6>
                                                </div>
                                                <div id="faq9" class="acod-body collapse">
                                                    <div class="acod-content">You need a Laptop/Computer with good processing power (minimum of 2 GB RAM), broadband internet connectivity (at least 2 mbps) is required and power backup (in case your area has electricity issue).
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel">
                                                <div class="acod-head">
                                                    <h6 class="acod-title">
                                                        <a data-toggle="collapse" href="#faq10" class="collapsed" data-parent="#faq10">
													10. What will be the duration of the session/lecture? </a> </h6>
                                                </div>
                                                <div id="faq10" class="acod-body collapse">
                                                    <div class="acod-content">For class 5th to 9th it will be 60 to 90 min, for class 10th to 12th it will be 90 min.</div>
                                                </div>
                                            </div>
                                            <div class="panel">
                                                <div class="acod-head">
                                                    <h6 class="acod-title">
                                                        <a data-toggle="collapse" href="#faq11" class="collapsed" data-parent="#faq11">
													11. What in case if teachers/students/parents have any problem? </a>
                                                    </h6>
                                                </div>
                                                <div id="faq11" class="acod-body collapse">
                                                    <div class="acod-content">Incase if you any problem, you can call or wass app us on +919112229112 OR you can mail us on. info@studeebee.com/oktataspvtltd@gmail.com.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="m-b10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                                            it.</p>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                                            it.</p>
                                    </div>
                                    <div class="col-lg-4 col-md-12">
                                        <div style="background: rgb(248,178,6);" class="bg-primary text-white contact-info-bx">
                                            <h2 class="m-b10 title-head">Contact <span>Information</span></h2>
                                            <p>Studeebee will love to interact with you, share your experience with us, clear your doubts with us.</p>
                                            <div class="widget widget_getintuch">
                                                <ul>
                                                    <li><i class="ti-location-pin"></i>75k Newcastle St. Ponte Vedra Beach, FL 309382 New York New York</li>
                                                    <li><i class="ti-mobile"></i> +919112229112 (24/7 Support Line)</li>
                                                    <li><i class="ti-email"></i>info@studeebee.com / oktataspvtltd@gmail.com
                                                    </li>
                                                </ul>
                                            </div>
                                            <h5 class="m-t0 m-b20">Follow Us</h5>
                                            <ul class="list-inline contact-social-bx">
                                                <li><a href="#" class="btn outline radius-xl"><i class="fa fa-facebook"></i></a>
                                                </li>
                                                <li><a href="#" class="btn outline radius-xl"><i class="fa fa-twitter"></i></a>
                                                </li>
                                                <li><a href="#" class="btn outline radius-xl"><i class="fa fa-linkedin"></i></a>
                                                </li>
                                                <li><a href="#" class="btn outline radius-xl"><i
													class="fa fa-google-plus"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- Your Faq End -->
                        <!-- Company Stats -->
                        <!-- <div class="section-area content-inner section-sp1 bg-gray">
					<div class="container">
						<div class="section-content">
							<div class="row">
								<div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
									<div class="counter-style-1">
										<div class="text-primary">
											<span class="counter faa">3000</span><span class="faa">+</span>
										</div>
										<span class="counter-text">Completed Projects</span>
									</div>
								</div>
								<div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
									<div class="counter-style-1">
										<div class="text-black">
											<span class="counter">2500</span><span>+</span>
										</div>
										<span class="counter-text">Happy Clients</span>
									</div>
								</div>
								<div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
									<div class="counter-style-1">
										<div class="text-primary">
											<span class="counter faa">1500</span><span class="faa">+</span>
										</div>
										<span class="counter-text">Questions Answered</span>
									</div>
								</div>
								<div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
									<div class="counter-style-1">
										<div class="text-black">
											<span class="counter">1000</span><span>+</span>
										</div>
										<span class="counter-text">Ordered Coffee's</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> -->
                        <!-- Company Stats END -->
                    </div>
                    <!-- contact area END -->
                </div>
                <!-- Content END-->
             