
                <!-- Content -->
                <div class="page-content bg-white">
                    <!-- inner page banner -->
                    <div class="page-banner ovbl-dark" style="background-image:url(assets/images/banner/membership.jpg);">
                        <div class="container">
                            <div class="page-banner-entry">
                                <h1 class="text-white">Membership</h1>
                            </div>
                        </div>
                    </div>
                    <!-- Breadcrumb row -->
                    <div class="breadcrumb-row">
                        <div class="container">
                            <ul class="list-inline">
                                <li><a href="#">Home</a></li>
                                <li>Membership</li>
                            </ul>
                        </div>
                    </div>
                    <!-- Breadcrumb row END -->
                    <!-- inner page banner END -->
                    <div class="content-block">
                        <!-- About Us -->
                        <div class="section-area section-sp2">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 heading-bx text-center">
                                        <h2 class="title-head text-uppercase m-b0">Set a plan, start learning and <br/> <span> unlock your potential</span></h2>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
                                    </div>
                                </div>
                                <div class="pricingtable-row">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-4 col-lg-4 m-b40">
                                            <div class="pricingtable-wrapper">
                                                <div class="pricingtable-inner">
                                                    <div class="pricingtable-main">
                                                        <div class="pricingtable-price">
                                                            <span class="priceing-doller">$</span>
                                                            <span class="pricingtable-bx">10</span>
                                                            <span class="pricingtable-type">3 Month</span>
                                                        </div>
                                                        <div class="pricingtable-title">
                                                            <h2>Basic</h2>
                                                            <p>We are just getting started</p>
                                                        </div>
                                                    </div>
                                                    <ul class="pricingtable-features">
                                                        <li>One Time Fee</li>
                                                        <li>3 User</li>
                                                        <li>Lifetime Availability</li>
                                                        <li>Non Featured</li>
                                                        <li>30 days Listing</li>
                                                        <li>24/7 Support</li>
                                                        <li>Select</li>
                                                    </ul>
                                                    <div class="pricingtable-footer">
                                                        <a href="#" class="btn radius-xl">Get It Now</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-4 col-lg-4 m-b40">
                                            <div class="pricingtable-wrapper">
                                                <div class="pricingtable-inner pricingtable-highlight">
                                                    <div class="pricingtable-main">
                                                        <div class="pricingtable-price">
                                                            <span class="priceing-doller">$</span>
                                                            <span class="pricingtable-bx">15</span>
                                                            <span class="pricingtable-type">6 Month</span>
                                                        </div>
                                                        <div class="pricingtable-title">
                                                            <h2>Medium</h2>
                                                            <p>The most popular plan</p>
                                                        </div>
                                                    </div>
                                                    <ul class="pricingtable-features">
                                                        <li>One Time Fee</li>
                                                        <li>3 User</li>
                                                        <li>Lifetime Availability</li>
                                                        <li>Non Featured</li>
                                                        <li>30 days Listing</li>
                                                        <li>24/7 Support</li>
                                                        <li>Select</li>
                                                    </ul>
                                                    <div class="pricingtable-footer">
                                                        <a href="#" class="btn radius-xl">Get It Now</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-4 col-lg-4 m-b40">
                                            <div class="pricingtable-wrapper">
                                                <div class="pricingtable-inner">
                                                    <div class="pricingtable-main">
                                                        <div class="pricingtable-price">
                                                            <span class="priceing-doller">$</span>
                                                            <span class="pricingtable-bx">20</span>
                                                            <span class="pricingtable-type">12 Month</span>
                                                        </div>
                                                        <div class="pricingtable-title">
                                                            <h2>Advanced</h2>
                                                            <p>Experience the best for e-learning</p>
                                                        </div>
                                                    </div>
                                                    <ul class="pricingtable-features">
                                                        <li>One Time Fee</li>
                                                        <li>3 User</li>
                                                        <li>Lifetime Availability</li>
                                                        <li>Non Featured</li>
                                                        <li>30 days Listing</li>
                                                        <li>24/7 Support</li>
                                                        <li>Select</li>
                                                    </ul>
                                                    <div class="pricingtable-footer">
                                                        <a href="#" class="btn radius-xl">Get It Now</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Our Services ==== -->
                        <div class="section-area section-sp2 bg-fix ovbl-dark join-bx" style="background-image:url(assets/images/background/bg1.jpg);">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 text-center heading-bx text-white">
                                        <h2 class="title-head m-b0">Why Choose <span>Us</span></h2>
                                        <p class="m-b0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the</p>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="why-chooses-bx ">
                                            <div class="ttr-accordion m-b30 faq-bx" id="accordion1">
                                                <div class="panel">
                                                    <div class="acod-head">
                                                        <h6 class="acod-title">
                                                            <a data-toggle="collapse" href="#faq1" class="collapsed" data-parent="#faq1">
                                                            Why won't my payment go through? </a> </h6>
                                                    </div>
                                                    <div id="faq1" class="acod-body collapse">
                                                        <div class="acod-content">Web design aorem apsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
                                                    </div>
                                                </div>
                                                <div class="panel">
                                                    <div class="acod-head">
                                                        <h6 class="acod-title">
                                                            <a data-toggle="collapse" href="#faq2" class="collapsed" data-parent="#faq2">
                                                            How do I get a refund?</a> </h6>
                                                    </div>
                                                    <div id="faq2" class="acod-body collapse">
                                                        <div class="acod-content">Graphic design aorem apsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
                                                    </div>
                                                </div>
                                                <div class="panel">
                                                    <div class="acod-head">
                                                        <h6 class="acod-title">
                                                            <a data-toggle="collapse" href="#faq3" class="collapsed" data-parent="#faq3">
                                                            How do I redeem a coupon? </a> </h6>
                                                    </div>
                                                    <div id="faq3" class="acod-body collapse">
                                                        <div class="acod-content">Developement aorem apsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
                                                    </div>
                                                </div>
                                                <div class="panel">
                                                    <div class="acod-head">
                                                        <h6 class="acod-title">
                                                            <a data-toggle="collapse" href="#faq4" class="collapsed" data-parent="#faq4">
                                                            Why aren't my courses showing in my account? </a> </h6>
                                                    </div>
                                                    <div id="faq4" class="acod-body collapse">
                                                        <div class="acod-content">Developement aorem apsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
                                                    </div>
                                                </div>
                                                <div class="panel">
                                                    <div class="acod-head">
                                                        <h6 class="acod-title">
                                                            <a data-toggle="collapse" href="#faq5" class="collapsed" data-parent="#faq5">
                                                            Changing account name </a> </h6>
                                                    </div>
                                                    <div id="faq5" class="acod-body collapse">
                                                        <div class="acod-content">Developement aorem apsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
                                                    </div>
                                                </div>
                                                <div class="panel">
                                                    <div class="acod-head">
                                                        <h6 class="acod-title">
                                                            <a data-toggle="collapse" href="#faq6" class="collapsed" data-parent="#faq6">
                                                            Why aren't my courses showing in my account? </a> </h6>
                                                    </div>
                                                    <div id="faq6" class="acod-body collapse">
                                                        <div class="acod-content">Developement aorem apsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="video-bx">
                                            <img src="assets/images/about/pic1.jpg" alt="" />
                                            <a href="https://www.youtube.com/watch?v=x_sJzVe9P_8" class="popup-youtube video"><i class="fa fa-play"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- contact area END ==== -->

                </div>
                <!-- Content END-->
                <!-- Content END-->
            