
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="page-banner ovbl-dark" style="background-image:url(assets/images/banner/tnqbanner.jpg);">
            <div class="container">
                <div class="page-banner-entry">
                    <h1 class="text-white">Terms & Condition</h1>
				 </div>
            </div>
        </div>
		<!-- Breadcrumb row -->
		<div class="breadcrumb-row">
			<div class="container">
				<ul class="list-inline">
					<li><a href="#">Home</a></li>
					<li>T&C</li>
				</ul>
			</div>
		</div>
		<!-- Breadcrumb row END -->
        <!-- contact area -->
        <div class="content-block">
            <!-- Your Faq -->
			
		
            <!-- Our Services -->
            <div class="section-area section-sp1">
                <div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="heading-bx left">
								<h2 class="m-b10 title-head">Terms and <span> Condition</span></h2>
							</div>
							<div class="tnc">
                                <p>1. Student should attend the live/recorded classes regularly.</p>
                                <p>2. Student/parents /guardian have the right to contact Studeebee team immediately in case if you have any query/doubt.</p>
                                <p>3. Parents/guardian have to pay fees regularly and incase if they don’t pay, id and password will be deleted automatically.</p>
                                <p>4. Student has to attend all tests conducted by Studeebee.</p>
                                <p>5. Parents/guardian will receive all the details about their ward on mail and wass app.</p>
                                <p>6. Students should complete his/her all entire course within the prescribed time.</p>
                                <p>7. Fees once paid will not be refund in any terms and condition, incase your are not satisfied with our service, kindly contact Studeebee team immediately within 15 days.</p>
                                <p>8. Students can’t use any false language or any inappropriate words on wass app/chat group else the student will be banned by admin.</p>
                                <p>9. In case if student does not understand anything kindly report to Studeebee team immediately.</p>
                                <p>10. Our exclusive students/parents relationship manager will keep you updating all upcoming events on your wass app number and mail id.</p>
                                <p>11. Parents/guardian should make sure that their ward is doing all the assignments given by Studeebee regularly.</p>
                                <p>12. For ONE on ONE session, if student didn’t understand anything then they have a right to change the teacher.</p>
                            </div>
						</div>
					</div>
					
                </div>
            </div>
            <!-- Your Faq End -->
		
        </div>
		<!-- contact area END -->
    </div>
    <!-- Content END-->
	