<div class="ttr-sidebar user-sidebar">
    <div class="ttr-sidebar-wrapper content-scroll user-sidebar-content">
        <!-- side menu logo start -->

        <!-- side menu logo end -->
        <!-- sidebar menu start -->

        <div class="card">
            <nav class="ttr-sidebar-navi">

                <a href="#"><img alt="" src="admin/assets/images/favicon.png" width="25" height="25">
                    <span class="ttr-label"><b>Dharmik Valani</b></span>
                </a>


                <ul>
                    <li>
                        <a href="/instructor/" class="ttr-material-button">
                            <span class="ttr-icon"><i class="fa fa-podcast"></i></span>
                            <span class="ttr-label">Live Classes</span>
                        </a>
                    </li>
                    <li>
                        <a href="/instructor/question-answer" class="ttr-material-button">
                            <span class="ttr-icon"><i class="ti-book"></i></span>
                            <span class="ttr-label">Q & A</span>
                        </a>
                    </li>
                    <li>
                        <a href="/instructor/profile" class="ttr-material-button">
                            <span class="ttr-icon"><i class="ti-user"></i></span>
                            <span class="ttr-label">My Profile</span>
                        </a>
                    </li>
                    <li class="ttr-seperate"></li>
                </ul>
                <!-- sidebar menu end -->
            </nav>
        </div>


        <!-- sidebar menu end -->
    </div>
</div>