<div class="ttr-opened-sidebar ttr-pinned-sidebar">


    <%- include('../partials/user/user_sidebar'); -%>
        <!-- Left sidebar menu end -->
        <main class="ttr-wrapper" style="padding-top: 20px;">
            <div class="container-fluid">
                <div class="db-breadcrumb">
                    <h4 class="breadcrumb-title">Dashboard</h4>
                    <ul class="db-breadcrumb-list">
                        <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
                        <li>Dashboard</li>
                    </ul>
                </div>
                <!-- Card -->
                <div class="wc-title">
                    <h4 style="font-weight: 300;">Continue Course</h4>
                </div>
                <div class="widget-inner">
                    <div class="card-courses-list admin-courses">
                        <div class="card-courses-media">
                            <img src="assets/images/dash1.jpg" alt="" />
                        </div>
                        <div class="card-courses-full-dec">
                            <div class="card-courses-title">
                                <h4>Become a PHP Master and Make Money</h4>
                            </div>
                            <div class="card-courses-list-bx">
                                <ul class="card-courses-view">
                                    <li class="card-courses-user">
                                        <div class="card-courses-user-pic">
                                            <img src="assets/images/dash2.jpg" alt="" />
                                        </div>
                                        <div class="card-courses-user-info">
                                            <h5>Teacher</h5>
                                            <h4>Keny White</h4>
                                        </div>
                                    </li>
                                    <li class="card-courses-categories">
                                        <h5>3 Categories</h5>
                                        <h4>Backend</h4>
                                    </li>
                                    <li class="card-courses-review">
                                        <h5>3 Review</h5>
                                        <ul class="cours-star">
                                            <li class="active"><i class="fa fa-star"></i></li>
                                            <li class="active"><i class="fa fa-star"></i></li>
                                            <li class="active"><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                    </li>
                                    <li class="card-courses-stats">
                                        <a href="#" class="btn button-sm green radius-xl">Incomplete</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="row card-courses-dec">
                                <div class="col-md-12">
                                    <h6 class="m-b10">Course Description</h6>
                                    <p>Lorem ipsum dolor sit amet, est ei idque voluptua copiosae, pro detracto disputando reformidans at, ex vel suas eripuit. Vel alii zril maiorum ex, mea id sale eirmod epicurei. Sit te possit senserit, eam alia veritus
                                        maluisset ei, id cibo vocent ocurreret per. Te qui doming doctus referrentur, usu debet tamquam et. Sea ut nullam aperiam, mei cu tollit salutatus delicatissimi. </p>
                                </div>
                                <div class="col-md-12">
                                    <a href="#" class="btn green radius-xl outline">Go To Course</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Card END -->

                <!-- Recommended Courses -->
                <div class="wc-title">
                    <br><br>
                    <h4>Recommended Course</h4>
                    <br>
                </div>
                <div class="row">
                    <div class="courses-carousel owl-carousel owl-btn-1 col-12 p-lr0">
                        <div class="item">
                            <div class="cours-bx">
                                <div class="action-box">
                                    <img src="/assets/images/dash2.jpg" alt="">
                                    <a href="#" class="btn">Read More</a>
                                </div>
                                <div class="info-bx text-center">
                                    <h5><a href="#">Introduction Studeebee – LMS plugin</a></h5>
                                    <span>Programming</span>
                                </div>
                                <div class="cours-more-info">
                                    <div class="review">
                                        <span>3 Review</span>
                                        <ul class="cours-star">
                                            <li class="active"><i class="fa fa-star"></i></li>
                                            <li class="active"><i class="fa fa-star"></i></li>
                                            <li class="active"><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="price">
                                        <del>$190</del>
                                        <h5>$120</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="cours-bx">
                                <div class="action-box">
                                    <img src="/assets/images/dash3.jpg" alt="">
                                    <a href="#" class="btn">Read More</a>
                                </div>
                                <div class="info-bx text-center">
                                    <h5><a href="#">Introduction Studeebee – LMS plugin</a></h5>
                                    <span>Programming</span>
                                </div>
                                <div class="cours-more-info">
                                    <div class="review">
                                        <span>3 Review</span>
                                        <ul class="cours-star">
                                            <li class="active"><i class="fa fa-star"></i></li>
                                            <li class="active"><i class="fa fa-star"></i></li>
                                            <li class="active"><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="price">
                                        <del>$190</del>
                                        <h5>$120</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="cours-bx">
                                <div class="action-box">
                                    <img src="assets/images/dash2.jpg" alt="">
                                    <a href="#" class="btn">Read More</a>
                                </div>
                                <div class="info-bx text-center">
                                    <h5><a href="#">Introduction Studeebee – LMS plugin</a></h5>
                                    <span>Programming</span>
                                </div>
                                <div class="cours-more-info">
                                    <div class="review">
                                        <span>3 Review</span>
                                        <ul class="cours-star">
                                            <li class="active"><i class="fa fa-star"></i></li>
                                            <li class="active"><i class="fa fa-star"></i></li>
                                            <li class="active"><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="price">
                                        <del>$190</del>
                                        <h5>$120</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="cours-bx">
                                <div class="action-box">
                                    <img src="assets/images/dash1.jpg" alt="">
                                    <a href="#" class="btn">Read More</a>
                                </div>
                                <div class="info-bx text-center">
                                    <h5><a href="#">Introduction Studeebee – LMS plugin</a></h5>
                                    <span>Programming</span>
                                </div>
                                <div class="cours-more-info">
                                    <div class="review">
                                        <span>3 Review</span>
                                        <ul class="cours-star">
                                            <li class="active"><i class="fa fa-star"></i></li>
                                            <li class="active"><i class="fa fa-star"></i></li>
                                            <li class="active"><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="price">
                                        <del>$190</del>
                                        <h5>$120</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
</div>