<div class="ttr-opened-sidebar ttr-pinned-sidebar">
    <%- include('../partials/user/user_sidebar'); -%>
                <!--Main container start -->
                <main class="ttr-wrapper" style="padding-top: 20px;">
                    <div class="container-fluid">
                        <div class="db-breadcrumb">
                            <h4 class="breadcrumb-title">Live</h4>
                            <ul class="db-breadcrumb-list">
                                <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
                                <li>Live Class</li>
                            </ul>
                        </div>
                        <div class="row">
                            <!-- Your Profile Views Chart -->
                            <div class="col-lg-12 m-b30">
                                <div class="page-content bg-white">
                                    <div class="content-block">
    
                                        <!-- Portfolio  -->
                                        <div class="section-area section-sp1 gallery-bx">
    
                                            <div class="container">
                                                <div class="wc-title">
                                                    <h4>Live Courses</h4>
                                                </div>
                                                <div class="clearfix">
                                                    <ul id="masonry" class="ttr-gallery-listing magnific-image row">
                                                       
                                                        <li class="action-card col-lg-6 col-md-6 col-sm-12 upcoming">
                                                            <div class="event-bx m-b30">
                                                                <div class="action-box">
                                                                    <img src="assets/images/dash3.jpg" alt="">
                                                                </div>
                                                                <div class="info-bx d-flex">
                                                                    <div>
                                                                        <div class="event-time">
                                                                            <div class="event-date">29</div>
                                                                            <div class="event-month">October</div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="event-info">
                                                                        <h4 class="event-title"><a href="#">Education Autumn Tour 2019</a></h4>
                                                                        <ul class="media-post">
                                                                            <li><a href="#"><i class="fa fa-clock-o"></i> 7:00am 8:00am</a></li>
                                                                            <li><a href="#"><i class="fa fa-map-marker"></i> Berlin, Germany</a>
                                                                            </li>
                                                                        </ul>
                                                                        <h5>Taken By</h5>
                                                                        <p>DEEPIKSHA, Btech IIT Bhu</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="action-card col-lg-6 col-md-6 col-sm-12  expired">
                                                            <div class="event-bx m-b30">
                                                                <div class="action-box">
                                                                    <img src="assets/images/dash2.jpg" alt="">
                                                                </div>
                                                                <div class="info-bx d-flex">
                                                                    <div>
                                                                        <div class="event-time">
                                                                            <div class="event-date">29</div>
                                                                            <div class="event-month">October</div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="event-info">
                                                                        <h4 class="event-title"><a href="#">Education Autumn Tour 2019</a></h4>
                                                                        <ul class="media-post">
                                                                            <li><a href="#"><i class="fa fa-clock-o"></i> 7:00am 8:00am</a></li>
                                                                            <li><a href="#"><i class="fa fa-map-marker"></i> Berlin, Germany</a>
                                                                            </li>
                                                                        </ul>
                                                                        <h5>Taken By</h5>
                                                                        <p>DEEPIKSHA, Btech IIT Bhu</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="action-card col-lg-6 col-md-6 col-sm-12 upcoming">
                                                            <div class="event-bx m-b30">
                                                                <div class="action-box">
                                                                    <img src="assets/images/dash1.jpg" alt="">
                                                                </div>
                                                                <div class="info-bx d-flex">
                                                                    <div>
                                                                        <div class="event-time">
                                                                            <div class="event-date">29</div>
                                                                            <div class="event-month">October</div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="event-info">
                                                                        <h4 class="event-title"><a href="#">Education Autumn Tour 2019</a></h4>
                                                                        <ul class="media-post">
                                                                            <li><a href="#"><i class="fa fa-clock-o"></i> 7:00am 8:00am</a></li>
                                                                            <li><a href="#"><i class="fa fa-users"></i> Grades 6th to 8th</a>
                                                                            </li>
                                                                        </ul>
                                                                        <h5>Taken By</h5>
                                                                        <p>DEEPIKSHA, Btech IIT Bhu</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        
                                                        
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- contact area END -->
                                </div>
                              
                            </div>
                            <!-- Your Profile Views Chart END-->
                        </div>
                    </div>
                </main>
                <div class="ttr-overlay" ></div>
            </div>
    