<!-- Content -->
<div class="page-content bg-white">
	<!-- inner page banner -->
	<div class="page-banner ovbl-dark"
		style="background-image:url(assets/images/banner/images.jpg);background-size: 100% 200%;">
		<div class="container">
			<div class="page-banner-entry">
				<h1 class="text-white" style="font-weight: 300;">LIVE CLASSES </h1>
			</div>
		</div>
	</div>
	<!-- Breadcrumb row -->
	<div class="breadcrumb-row">
		<div class="container">
			<ul class="list-inline">
				<li><a href="/home">Home</a></li>
				<li>Live Classes</li>
			</ul>
		</div>
	</div>
	<!-- Breadcrumb row END -->
	<!-- contact area -->
	<div class="content-block">
		<!-- Portfolio  -->
		<div class="section-area section-sp1 gallery-bx">
			<div class="container">
				<div class="feature-filters clearfix center m-b40">
					<ul class="filters" data-toggle="buttons">
						<li data-filter="upcoming" class="btn">
							<input type="radio">
							<a href="#"><span>Upcoming</span></a>
						</li>
						<li data-filter="expired" class="btn">
							<input type="radio">
							<a href="#"><span>Past</span></a>
						</li>
					</ul>
				</div>
				<div class="clearfix">
					<ul id="masonry" class="ttr-gallery-listing magnific-image row">
						<li class="action-card col-lg-6 col-md-6 col-sm-12 upcoming">
							<div class="event-bx m-b30">
								<div class="action-box">
									<img src="assets/images/dash1.jpg" alt="">
								</div>
								<div class="info-bx d-flex">
									<div>
										<div class="event-time">
											<div class="event-date">29</div>
											<div class="event-month">October</div>
										</div>
									</div>
									<div class="event-info">
										<h4 class="event-title"><a href="live-classes/live-class">Education Autumn Tour
												2019</a></h4>
										<ul class="media-post">
											<li><a href="#"><i class="fa fa-clock-o"></i> 7:00am 8:00am</a></li>
											<li><a href="#"><i class="fa fa-users"></i> Grades 6th to 8th</a>
											</li>
										</ul>
										<h5>Taken By</h5>
										<p>DEEPIKSHA, Btech IIT Bhu</p>
										<a href="" class="btn btn-block btn-rounded " style="margin:2em"
											data-toggle="modal" data-target="#modalRegisterForm">
											Enroll Now </a>
										<!--Pop up register model  -->
										<div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog"
											aria-labelledby="myModalLabel" aria-hidden="true">
											<div class="modal-dialog" role="document">
												<div class="modal-content">
													<div class="modal-header text-center">
														<h4 class="modal-title w-100 font-weight-bold">Enroll Live class
														</h4>
														<button type="button" class="close" data-dismiss="modal"
															aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
													<div class="modal-body mx-3">
														<div class="md-form mb-5">
															<i class="fa fa-user prefix grey-text"></i>
															<label data-error="wrong" data-success="right"
																for="orangeForm-name">Your name</label>
															<input type="text" id="orangeForm-name"
																class="form-control validate">

														</div>
														<div class="md-form mb-5">
															<i class="fa fa-envelope prefix grey-text"></i>
															<label data-error="wrong" data-success="right"
																for="orangeForm-email">Your email</label>
															<input type="email" id="orangeForm-email"
																class="form-control validate">

														</div>

														<div class="md-form mb-4">
															<i class="fa fa-phone prefix grey-text"></i>
															<label data-error="wrong" data-success="right"
																for="orangeForm-pass">Phone No</label>
															<input type="password" id="orangeForm-pass"
																class="form-control validate">

														</div>

													</div>
													<div class="modal-footer d-flex justify-content-center">
														<button class="btn btn-deep-orange">Join Class</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li class="action-card col-lg-6 col-md-6 col-sm-12 upcoming">
							<div class="event-bx m-b30">
								<div class="action-box">
									<img src="assets/images/dash3.jpg" alt="">
								</div>
								<div class="info-bx d-flex">
									<div>
										<div class="event-time">
											<div class="event-date">29</div>
											<div class="event-month">October</div>
										</div>
									</div>
									<div class="event-info">
										<h4 class="event-title"><a href="live-classes/live-class">Education Autumn Tour
												2019</a></h4>
										<ul class="media-post">
											<li><a href="#"><i class="fa fa-clock-o"></i> 7:00am 8:00am</a></li>
											<li><a href="#"><i class="fa fa-map-marker"></i> Berlin, Germany</a>
											</li>
										</ul>
										<h5>Taken By</h5>
										<p>DEEPIKSHA, Btech IIT Bhu</p>
										<a href="" class="btn btn-block btn-rounded " style="margin:2em"
											data-toggle="modal" data-target="#modalRegisterForm">
											Enroll Now </a>
										<!--Pop up register model  -->
										<div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog"
											aria-labelledby="myModalLabel" aria-hidden="true">
											<div class="modal-dialog" role="document">
												<div class="modal-content">
													<div class="modal-header text-center">
														<h4 class="modal-title w-100 font-weight-bold">Enroll Live class
														</h4>
														<button type="button" class="close" data-dismiss="modal"
															aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
													<div class="modal-body mx-3">
														<div class="md-form mb-5">
															<i class="fa fa-user prefix grey-text"></i>
															<label data-error="wrong" data-success="right"
																for="orangeForm-name">Your name</label>
															<input type="text" id="orangeForm-name"
																class="form-control validate">

														</div>
														<div class="md-form mb-5">
															<i class="fa fa-envelope prefix grey-text"></i>
															<label data-error="wrong" data-success="right"
																for="orangeForm-email">Your email</label>
															<input type="email" id="orangeForm-email"
																class="form-control validate">

														</div>

														<div class="md-form mb-4">
															<i class="fa fa-phone prefix grey-text"></i>
															<label data-error="wrong" data-success="right"
																for="orangeForm-pass">Phone No</label>
															<input type="password" id="orangeForm-pass"
																class="form-control validate">

														</div>

													</div>
													<div class="modal-footer d-flex justify-content-center">
														<button class="btn btn-deep-orange">Join Class</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li class="action-card col-lg-6 col-md-6 col-sm-12  expired">
							<div class="event-bx m-b30">
								<div class="action-box">
									<img src="assets/images/dash2.jpg" alt="">
								</div>
								<div class="info-bx d-flex">
									<div>
										<div class="event-time">
											<div class="event-date">29</div>
											<div class="event-month">October</div>
										</div>
									</div>
									<div class="event-info">
										<h4 class="event-title"><a href="live-classes/live-class">Education Autumn Tour
												2019</a></h4>
										<ul class="media-post">
											<li><a href="#"><i class="fa fa-clock-o"></i> 7:00am 8:00am</a></li>
											<li><a href="#"><i class="fa fa-map-marker"></i> Berlin, Germany</a>
											</li>
										</ul>
										<h5>Taken By</h5>
										<p>DEEPIKSHA, Btech IIT Bhu</p>
										<a href="" class="btn btn-block btn-rounded " style="margin:2em"
											data-toggle="modal" data-target="#modalRegisterForm">
											Enroll Now </a>
										<!--Pop up register model  -->
										<div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog"
											aria-labelledby="myModalLabel" aria-hidden="true">
											<div class="modal-dialog" role="document">
												<div class="modal-content">
													<div class="modal-header text-center">
														<h4 class="modal-title w-100 font-weight-bold">Enroll Live class
														</h4>
														<button type="button" class="close" data-dismiss="modal"
															aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
													<div class="modal-body mx-3">
														<div class="md-form mb-5">
															<i class="fa fa-user prefix grey-text"></i>
															<label data-error="wrong" data-success="right"
																for="orangeForm-name">Your name</label>
															<input type="text" id="orangeForm-name"
																class="form-control validate">

														</div>
														<div class="md-form mb-5">
															<i class="fa fa-envelope prefix grey-text"></i>
															<label data-error="wrong" data-success="right"
																for="orangeForm-email">Your email</label>
															<input type="email" id="orangeForm-email"
																class="form-control validate">

														</div>

														<div class="md-form mb-4">
															<i class="fa fa-phone prefix grey-text"></i>
															<label data-error="wrong" data-success="right"
																for="orangeForm-pass">Phone No</label>
															<input type="password" id="orangeForm-pass"
																class="form-control validate">

														</div>

													</div>
													<div class="modal-footer d-flex justify-content-center">
														<button class="btn btn-deep-orange">Join Class</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li class="action-card col-lg-6 col-md-6 col-sm-12 expired">
							<div class="event-bx m-b30">
								<div class="action-box">
									<img src="assets/images/banner/images.jpg" alt="">
								</div>
								<div class="info-bx d-flex">
									<div>
										<div class="event-time">
											<div class="event-date">29</div>
											<div class="event-month">October</div>
										</div>
									</div>
									<div class="event-info">
										<h4 class="event-title"><a href="#">Education Autumn Tour 2019</a></h4>
										<ul class="media-post">
											<li><a href="#"><i class="fa fa-clock-o"></i> 7:00am 8:00am</a></li>
											<li><a href="#"><i class="fa fa-map-marker"></i> Berlin, Germany</a>
											</li>
										</ul>
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting
											industry. Lorem Ipsum has been the industry's standard dummy text
											ever since the..</p>
									</div>
								</div>
							</div>
						</li>

					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- contact area END -->
</div>
<!-- Content END-->